---

---

<nav class='py-4 flex'>
  <a href='#' class='hover:underline mr-auto'>AIMS</a>
  <ul class='flex gap-4'>
    <li><a href="#" class='hover:underline'>Home</a></li>
    <li><a href="#" class='hover:underline'>Learn More</a></li>
    <li><a href="#" class='hover:underline'>Join Us</a></li>
  </ul>
</nav>