---

---

<nav class='py-4 flex'>
  <span class='mr-auto'>AIMS</span>
  <ul class='flex gap-4'>
    <li><a href="#">Home</a></li>
    <li><a href="#">Learn More</a></li>
    <li><a href="#">Join Us</a></li>
  </ul>
</nav>