---
export interface Props {
  pageTitle: string;
  pageDescription: string;
}

const {pageTitle, pageDescription}: Props = Astro.props;
---


<div id="header-title-container">
  <div id="header-title" class='flex gap-4'>
    <i class="fa-solid fa-flag-checkered"></i>
    <h1>{pageTitle}</h1>
    <i class="fa-solid fa-flag-checkered"></i>
</div>
</div>
<h3>{pageDescription}</h3>