---
---

<div id="social-btn-container" class='flex gap-2 mt-8'>
  <button class='bg-[#ea3323] border-[#ea3323] text-white'>
    <a href="https://www.youtube.com/@AIMSLeague" target="_blank" rel="noopener noreferrer">YouTube</a>
  </button>
  <button class='bg-[#874bf6] border-[#874bf6] text-white'>
    <a href="https://www.twitch.tv/aimsleague" target="_blank" rel="noopener noreferrer">Twitch</a>
  </button>
</div>